doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/signup.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')
		link(rel='stylesheet', href='/stylesheets/structures.css')
		script(src="/javascripts/jquery-2.1.1.min.js")
		script(src="/javascripts/index.js")
	body
		div(id='header')
			if loggedIn
				a(href='/dashboard' class='navilink') Kokpit
				a(href='/structures' class='navilink') Budynki
			else
				a(href='/' class='navilink') Strona główna
				a(href='/signup' class='navilink') Rejestracja
				form(action='/login', method='post', class='loginform')
						div(class='forminputbox')
							input(type='text', name='login', placeholder='login')
						div(class='forminputbox')
							input(type='password', name='password', placeholder='password')
						div(class='forminputbox')
							input(type='submit', value='login')
		div(id='container')
			block content
		div(id='footer')
			if loggedIn
				div(id='footavatar')
				div(id='footbar')
					div(id='useroptions')
						div(class='useroption')
							a(href='/editprofile') edytuj profil
						div(class='useroption')
							a(href='/logout') wyloguj
					div(id='usermenu', status='0')= username
					div(class='walletbox')
						div(class='walleticon', data-type='cash') Gold
						div(class='walletvalue', data-type='cash')= cash
					div(class='walletbox')
						div(class='walleticon', data-type='oil') Oil
						div(class='walletvalue', data-type='oil')= oil
					div(class='walletbox')
						div(class='walleticon', data-type='gas') Gas
						div(class='walletvalue', data-type='gas')= gas
					div(class='walletbox')
						div(class='walleticon', data-type='metal') Metal
						div(class='walletvalue', data-type='metal')= metal